.base-icon{
  background: url(../img/icon.png) no-repeat;
}
.vip-icon{
  background: url(../img/vip.png) no-repeat;
}
.lease-modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-size: cover;
  outline: 0;
}
.ordinary-card{
  width: 45px;
  height: 20px;
  background-position: -360px -465px;
  display: -webkit-inline-box;
}
.gold-card{
  width: 45px;
  height: 20px;
  background-position: -470px -465px;
  display: -webkit-inline-box;
}